#pagination {
  display: none;
}

#topbar-cta-button {
  display: none;
}

#sidebar {
  left: 0;
}

#content-area #header .eyebrow {
  display: none;
}

#page-context-menu #page-context-menu-button {
  padding: 2px 6px;
  border-right-width: 1px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;

  > * {
    font-size: 12px;
    line-height: 12px;
  }

  + button {
    display: none;
  }
} 

#table-of-contents > button {
  display: none;
}

.nav-tabs {
  position: relative;
  left: 50%;
  width: 100vw;
  margin-left: -49vw;
}

.navbar-link {
  display: none;
}

.nav-logo {
  height: 7rem;
}
