#pagination {
  display: none;
}

#topbar-cta-button {
  display: none;
}

#sidebar {
  left: 0;
}

#content {
  span {
    line-height: 1.6em !important;
  }
}

#content-area #header .eyebrow {
  display: none;
}

#page-context-menu #page-context-menu-button {
  padding: 2px 6px;
  border-right-width: 1px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;

  > * {
    font-size: 12px;
    line-height: 12px;
  }

  + button {
    display: none;
  }
} 

#table-of-contents > button {
  display: none;
}

#table-of-contents-content li:not([data-depth="0"]) {
  display: none;
}

#content-container {
  > div {
    padding-top: 10rem;

    @media (min-width: 1024px) {
      padding-top: 0;
    }
  }
}

.nav-tabs {
  width: 100vw;
  margin-inline: calc(50% - 50vw);
  padding-left: 16px;
}

.navbar-link {
  display: none;
}

.nav-logo {
  position: fixed;
  width: 103px;
  height: 23px;
  left: 16px;
  top: 20px;
}
